*{
    margin:0;
    padding: 0;
    font-family: "Century Gothic";
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float:right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover {
    background-color: white;
    color: black;

}
ul li.active a{
    background-color: aqua;
    color: gray;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: black;
    font-size: 70px;

}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    color: black;
    text-decoration:none;
    color: black;
    padding: 5px 20px;
    border: 1px solid ;
    transition: 0.6s ease;
}
body{
    background: -webkit-linear-gradient(left,#0072ff,#00c6ff);
}


.contact-form{
    background-color: white;
    width: 100%;
    margin-top: 4%;
}

.contact-form form{
    padding: 10%;
}

.form-control{
    border-radius: 0;
}

textarea{
    height: 146px !important;
    width: 100%;
}

.contact-form h3{
    text-align:center ;
    color: #0062cc;
}

.btncontact{
    border: none;
    padding: 0.375rem 0.75rem;
    background-color: #dc3545;
    font-weight: 600;
    cursor:pointer;
    color: #fff;
}

#hd{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#ha{
    background-image: url("2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#ht{
    color: white;
    text-align: center;
    font-style: italic;
    padding: 20px;
}
h2{
    color: white;
    text-align: center;
    font-style: italic;
}
label{
    color: white;
    font-size: 20px;
    font-style: italic;
}
.register{
    margin: auto;
    width: 40%;
    background-color: rgba(0,0,0,0.4);
    padding: 15px;
}
#register{
    width: 60%;
    margin: auto;
}
#name{
    width: 300px;
    outline: 0;
    padding: 5px;
    border: 3px solid #9fabb6;
    border-radius: 3px;
}
#sub{
    width: 300px;
    outline: 0;
    padding: 5px;
    border: 3px #9fabb6;
    color: white;
    font-size: 18px;
    font-style: italic;
    background-color: #487948;
    border-radius: 3px;
}
#hs{
    background-image: url("3.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.login{
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
#c{
    margin: 0;
    text-align: center;
    padding: 0 0 20px;
    font-size: 22px;
}
.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login input{
    width: 100%;
    margin-bottom: 20px;
}
.login input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
}
.login input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color; #000;
}
.login a{
    font-size: 14px;
    color: #fff;
}
.login a:hover
{
    color: #39dc79;
}




